<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	{% if yes is defined %}
		<meta http-equiv="refresh" content="15">
	{% endif %}
    <title> Appli Boucalais </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./Css/style.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light sticky-top" id="navbar">
		{% if acces == "oui" %}
			<a class="navbar-brand" href="?action=accueil">
				Appli Boucalais
			</a>
		{% else %}
			<a class="navbar-brand" href="?action=connexion">
				Appli Boucalais
			</a>
		{% endif %}
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				{% if role == "client" or role == "prospect" %}
					<li class="nav-item"><a class="nav-link" href="?action=accueil">Accueil</a></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Devis
							</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="?action=form-devis">Faire un devis</a>
							<a class="dropdown-item" href="?action=liste-devis-client">Mes devis</a>
						</div>
					</li>
				{% endif %}

				{% if role == "gerant" %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Clients
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="?action=aperçu">Aperçu</a>
							<a class="dropdown-item" href="?action=clients">Tous</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="?action=ajouter-client">Ajouter</a>
							<a class="dropdown-item" href="?action=attribuer-devis">Attribuer un devis</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Plannings
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="Plannings/planning-devis.php">Planning des devis</a>
							<a class="dropdown-item" href="Plannings/planning-demandes-reservation.php">Planning des demandes de réservation</a>
							<a class="dropdown-item" href="Plannings/planning.php">Planning</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Paramétrage
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="?action=documents-gerant">Documents</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="?action=prix-devis">Prix devis</a>
							<a class="dropdown-item" href="?action=liste-activite">Activités devis</a>
							<a class="dropdown-item" href="?action=liste-option">Options devis</a>
						</div>
					</li>
				{% endif %}

				{% if acces == "non" %}
					<li class="nav-item"><a class="nav-link" href="?action=connexion">Connexion</a></li>       
				{% endif %}
			</ul>

			{% if acces == "oui" and role == "prospect" %}
				<div>
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">Bonjour {{user.nomGroupe}}</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="?action=profil">Mon profil</a>
								<a class="dropdown-item" href="?action=logout">Déconnexion</a>
							</div>
						</li>
					</ul>
				</div>
			{% elseif acces == "oui" and role == "gerant" %}
				<div>
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">Bonjour {{user.prenom}}</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="?action=profil">Mon profil</a>
								<a class="dropdown-item" href="?action=logout">Déconnexion</a>
							</div>
						</li>
					</ul>
				</div>
			{% endif %}
		</div>
	</nav>

	{% if acces == 'oui' %}
		<div class="container">
			{% block section %}
				{% if alert is defined and alert == "success" %}
					<!-- Le filtre raw ne va pas échapper la variable message, ce qui fait que les balises seront interprétées :D !! De base, toutes les variables twig sont échappées (Échappement HTML = le fait que les textes écrits avec des balises HTML soient échappés, ou encodés de telle manière que les balises ne seront pas interprétées dans le code : avoir une balise </body> (dans le pseudo de quelqu'un par exemple) interprétée sur la page casserait tout l'affichage de la page, perturbant le code d'origine. En fait, échapper est le raccourci de "échapper au formatage/encodage") -->
					<div class="alert alert-success" role="alert">{{message|raw}}</div>
				{% elseif alert is defined and alert == "danger" %}
					<div class="alert alert-danger" role="alert">{{message|raw}}</div>
				{% elseif alert is defined and alert == "warning" %}
					<div class="alert alert-warning" role="alert">{{message|raw}}</div>
				{% endif %}
			{% endblock %}
		</div>
	{% elseif acces == 'non' %}
		<div class="container">
			{% block recupererMdp %}
			{% endblock %}
			{% if pageRecupererMdp is not defined and logout is not defined and supprimerCompte is not defined %}
				<div class="alert alert-secondary" role="alert"><a href="?action=connexion" class="alert-link">Connectez-vous</a> pour pouvoir accéder à l'application</div>
			{% endif %}
			{% if alert is defined and alert == "success" %}
				<div class="alert alert-success" role="alert">{{message|raw}}</div>
			{% endif %}
			{% if alert is defined and alert == "info" %}
				<div class="alert alert-info" role="alert">{{message|raw}}</div>
			{% endif %}
		</div>
	{% endif %}

	<footer class="mt-5">
		{% if role is defined %}
			<div class="text-center"> Copyright &copy; <a href="?action=accueil">Appli Boucalais</a> - Tous droits réservés </div>
		{% else %}
			<div class="text-center"> Copyright &copy; <a href="?action=connexion">Appli Boucalais</a> - Tous droits réservés </div>
		{% endif %}
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src='Js/Popups.js'></script>

</body>
</html>