{% extends "index.html.twig" %}
{% block section %}
    <a href="?action=liste-activite"> Retour à la liste des activités </a>
    <form method="POST" action="?action=modifier-activite">
        <fieldset>
            <legend> Modification d'activité </legend>
            <div class="form-group row">
                <label for="nomActivite" class="col-4 col-form-label">Nom de l'activité</label>
                <input type="text" id="nomActivite" class="col-6 form-control" name="NOM_ACTIVITE" value="{{activite.nomActivite}}" required>
            </div>
            <div class="form-group row">
                <label for="prixActivite" class="col-4 col-form-label">Prix à l'unité</label>
                <input type="number" id="prixActivite" class="col-1 form-control" name="PRIX_ACTIVITE_UNITE" value="{{activite.prixActiviteUnite}}" required>
            </div>
            <div class="form-group row">
                <label for="descriptionActivite" class="col-4 col-form-label">Description</label>
                <textarea class="col-6 form-control" id="descriptionActivite" name="DESCRIPTION_ACTIVITE" width="512">{{activite.descriptionActivite}}</textarea>
            </div>
            <div class="form-group row">
                <label for="nbParticipants" class="col-4 col-form-label">Séances par groupe de :</label>
                <input type="number" id="nbParticipants" class="col-1 form-control" name="NB_PARTICIPANTS_GROUPE" value="{{activite.nbParticipantsGroupe}}">
            </div>
            <div class="form-group row">
                <label for="afficher" class="col-4 col-form-label">Aficher lors de la composition d'un devis :</label>
                <select name="AFFICHAGE_ACTIVITE" class="col-1 form-control">
                {% if activite.affichageActivite == "1" %}
                    <option value="1" selected>Oui</option>
                    <option value="0">Non</option>
                {% elseif activite.affichageActivite == "0" %}
                    <option value="1">Oui</option>
                    <option value="0" selected>Non</option>
                {% endif %}
                </select>
            </div>
            <div>
                <input type="hidden" id="idActivite" name="ID_ACTIVITE" value="{{activite.idActivite}}" required>
            </div>
            <input type="submit" name="modification-activite" value="Sauvegarder">
        </fieldset>
    </form>
{% endblock %}