{% extends "index.html.twig" %}
{% block section %}
    <a href="?action=liste-devis-client"> Retour à la liste de vos devis </a>
    <form method="POST" action="index.php">
        <fieldset>
            <legend> Modifier un devis </legend>
            <p> Devis n°{{devis.idDevis}} </p>
            <input type="hidden" id="idDevis" name="ID_DEVIS" value="{{devis.idDevis}}">
            <input type="hidden" id="statut" name="STATUT" value="{{devis.statut}}">
            <div>
                <label for="typeGroupe" class="col-2">Type de groupe</label>
                <input type="text" id="typeGroupe" name="TYPE_GROUPE"  value="{{devis.typeGroupe}}" required readonly>
            </div>
            <div id="composition" class="mt-2 mb-2">
            <fieldset>
                <legend> Composition du groupe </legend>
                <div>
                    <label for="nbAdultes" class="col-2">Nombre d'adultes</label>
                    <input type="number" id="nbAdultes" name="NB_ADULTES" value="{{devis.nbAdultes}}" required>
                </div>
                <br/>
                <div>
                    <label for="nbEnfants" class="col-2">Nombre d'enfants</label>
                    <input type="number" id="nbEnfants" name="NB_ENFANTS" value="{{devis.nbEnfants}}">
                </div>
                <br/>
                <div>
                    <label for="nbAdos" class="col-2">Nombre d'ados</label>
                    <input type="number" id="nbAdos" name="NB_ADOS" value="{{devis.nbAdos}}">
                </div>
            </fieldset>
            </div>
            <br>
            <fieldset>
                <legend> Durée </legend>
                <div>
                    <label for="dateDebutReserv" class="col-2">Date de début</label>
                    <input type="date" id="dateDebutReserv" name="DATE_DEBUT" value="{{devis.dateDebut}}" required>
                </div>
                <br/>
                <div>
                    <label for="dureeReserv" class="col-2">Nombre de nuits</label>
                    <input type="number" placeholder="Durée (nombre de nuits)" id="dureeReserv" name="DUREE" value="{{devis.duree}}" required>
                </div>
                <br/>
                <div>
                    <label for="dateFinReserv" class="col-2">Date de fin</label>
                    <input type="date" id="dateFinReserv" name="DATE_FIN" value="{{devis.dateFin}}" required>
                </div>
            </fieldset>
            <br/>
            <br/>
            <div>
                <p>Choix de la pension</p>
                {% if devis.typePension == 'pension' %}
                    <div class="col-2">
                        <label for="pension">Pension</label>
                        <input type="radio" id="pension" name="TYPE_PENSION" value="pension" checked required>
                    </div>
                    <div class="col-2">
                        <label for="demipension">Demi-pension</label>
                        <input type="radio" id="demipension" name="TYPE_PENSION" value="demipension" required>
                    </div>
                    <div class="col-2">
                        <label for="gestionlibre">Gestion libre</label>
                        <input type="radio" id="gestionlibre" name="TYPE_PENSION" value="gestionlibre" required>
                    </div>
                {% elseif devis.typePension == 'demipension' %}
                    <div class="col-2">
                        <label for="pension">Pension</label>
                        <input type="radio" id="pension" name="TYPE_PENSION" value="pension" required>
                    </div>
                    <div class="col-2">
                        <label for="demipension">Demi-pension</label>
                        <input type="radio" id="demipension" name="TYPE_PENSION" value="demipension" checked required>
                    </div>
                    <div class="col-2">
                        <label for="gestionlibre">Gestion libre</label>
                        <input type="radio" id="gestionlibre" name="TYPE_PENSION" value="gestionlibre" required>
                    </div>
                {% elseif devis.typePension == 'gestionlibre' %}
                    <div class="col-2">
                        <label for="pension">Pension</label>
                        <input type="radio" id="pension" name="TYPE_PENSION" value="pension" required>
                    </div>
                    <div class="col-2">
                        <label for="demipension">Demi-pension</label>
                        <input type="radio" id="demipension" name="TYPE_PENSION" value="demipension" required>
                    </div>
                    <div class="col-2">
                        <label for="gestionlibre">Gestion libre</label>
                        <input type="radio" id="gestionlibre" name="TYPE_PENSION" value="gestionlibre" checked required>
                    </div>
                {% else %}
                    <div class="col-2">
                        <label for="pension">Pension</label>
                        <input type="radio" id="pension" name="TYPE_PENSION" value="pension" required>
                    </div>
                    <div class="col-2">
                        <label for="demipension">Demi-pension</label>
                        <input type="radio" id="demipension" name="TYPE_PENSION" value="demipension" required>
                    </div>
                    <div class="col-2">
                        <label for="gestionlibre">Gestion libre</label>
                        <input type="radio" id="gestionlibre" name="TYPE_PENSION" value="gestionlibre" required>
                    </div>
                {% endif %}
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <legend> Activités </legend>
            <div>
            <!-- {% for activite in activites %}
                <div class="col-5 mt-2 mb-2 d-inline-block border">
                    <p class="col-10"> {{activite.nomActivite}} : <span id="prixUnite">{{activite.prixActiviteUnite}}€<span></p>
                    <p class="col-10">{{activite.descriptionActivite}}</p>
                    <input type="hidden" id="activite{{activite.idActivite}}" value="{{activite.idActivite}}" name="ACTIVITE_ID">
                    <label for="seances{{activite.idActivite}}" class="col-6 ml-1"> Nombre de séances </label>
                    <input type="number" id="seances{{activite.idActivite}}" class="col-4 ml-1" value="{{activiteDevis.nbSeances}}" name="ACTIVITE_SEANCES[{{activite.idActivite}}]">
                    <label for="participants{{activite.idActivite}}" class="col-6 ml-1 "> Nombre de participants </label>
                    <input type="number" id="participants{{activite.idActivite}}" class="col-4 ml-1" value="{{activiteDevis.nbParticipants}}" name="ACTIVITE_PARTICIPANTS[{{activite.idActivite}}]">
                    <span id="estimation-{{activite.idActivite}}"></span>
                </div>
            {% endfor %} -->
                <input type="text" id="seancesActivite" name="ACTIVITE_SEANCES" value="{{devis.activiteSeances}}" readonly>
                <input type="text" id="participantsActivite"  name="ACTIVITE_PARTICIPANTS" value="{{devis.activiteParticipants}}" readonly>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <legend> Frais optionnels </legend>
            <!--
            <div>
                <label for="option1" class="">Assurance annulation individuelle</label>
                <input type="number" id="option1" name="OPTIONS[]" value={{devis.options[0]}}>
            </div>
            <div>
                <label for="option2" class="">Assurance annulation groupe</label>
                <input type="checkbox" id="option2" name="OPTIONS[]" value={{devis.options[1]}}>
            </div>
            <div>
                <label for="option3" class="">Programmation des activités</label>
                <input type="number" id="option3" name="OPTIONS[]" value={{devis.options[2]}}>
            </div>
            <div>
                <label for="option4" class="">Location de draps</label>
                <input type="number" id="option4" name="OPTIONS[]" value={{devis.options[3]}}>
            </div>
            <div>
                <label for="option5" class="">Mise à disposition de trotinettes</label>
                <input type="number" id="option5" name="OPTIONS[]" value={{devis.options[4]}}>
            </div>
            -->
            <input type="text" id="options" name="OPTIONS" value="{{devis.options}}" readonly>
        </fieldset>
        <span id="prix_estimation"></span>
        <br/>
        {% if devis.statut <= 3 %}
            <input type="submit" name="modification-devis" value="Sauvegarder">
            <input type="submit" name="valider-devis" value="Valider le devis et le transformer en réservation">
        {% endif %}
        {% if devis.statut > 3 %}
            <span id="valide"> Réservation effectuée <span>

        {% endif %}
    </form>
    <script src='js/FormCheck.js'></script>
    <script src='js/AffichagePrix.js'></script>
{% endblock %}